@tailwind base;
@tailwind components;
@tailwind utilities;


.home {
    background: url('./images//home/background-home-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.navBg {
    background-color: rgba(128, 109, 109, 0.2);
    backdrop-filter: blur(10px);
    width: 50%;
    padding: 2rem 0 ;
}
/* 
@layer base {

    html,
    body,
    #root {
        @apply h-full bg-black text-white antialiased
    }

    #root {
        @apply flex flex-col
    }

    .wrapper {
        height: calc(100% - theme('spacing.24'));
        @apply flex
    }

    .scrollable {
        scroll-behavior: smooth;
    }
} */